In [96]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [97]:
data = pd.read_csv('data/train.csv')

In [98]:
data.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [99]:
data = data[data['MISSING_DATA'] == False]

In [100]:
def polyline_to_trip_duration(polyline):
    return max(polyline.count("[") - 2, 0) * 15 #subtracting 2 because one is for the opening bracket?

# This code creates a new column, "LEN", in our dataframe. The value is
# the (polyline_length - 1) * 15, where polyline_length = count("[") - 1
data["LEN"] = data["POLYLINE"].apply(polyline_to_trip_duration)

In [101]:
def parse_time(x):
    dt = datetime.fromtimestamp(x["TIMESTAMP"])
    return dt.year, dt.month, dt.day, dt.hour, dt.weekday()

In [102]:
data[["YR", "MON", "DAY", "HR", "WK"]] = (
    data[["TIMESTAMP"]].apply(parse_time, axis=1, result_type="expand")
)

In [103]:
#filling nan's with -1 to avoid errors
data['ORIGIN_STAND'].fillna(-1, inplace = True)

In [104]:
type_map = {'A': 1, 'B': 2, 'C': 3}
data['CALL_TYPE'] = data['CALL_TYPE'].map(type_map).astype(int) 
data['DAY_TYPE'] = data["DAY_TYPE"].map(type_map).astype(int)

In [105]:
test_data = pd.read_csv('data/test_public.csv')

In [106]:
test_data

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA
0,T1,B,NaN,15.0,20000542,1408039037,A,False
1,T2,B,NaN,57.0,20000108,1408038611,A,False
2,T3,B,NaN,15.0,20000370,1408038568,A,False
3,T4,B,NaN,53.0,20000492,1408039090,A,False
4,T5,B,NaN,18.0,20000621,1408039177,A,False
...,...,...,...,...,...,...,...,...
315,T323,A,70885.0,NaN,20000430,1419171485,A,False
316,T324,B,NaN,53.0,20000020,1419170802,A,False
317,T325,C,NaN,NaN,20000207,1419172121,A,False
318,T326,A,76232.0,NaN,20000667,1419171980,A,False
319,T327,A,31208.0,NaN,20000255,1419171420,A,False

In [107]:
test_data[["YR", "MON", "DAY", "HR", "WK"]] = (
    test_data[["TIMESTAMP"]].apply(parse_time, axis=1, result_type="expand")
)

In [108]:
print(test_data.to_string())

    TRIP_ID CALL_TYPE  ORIGIN_CALL  ORIGIN_STAND   TAXI_ID   TIMESTAMP DAY_TYPE  MISSING_DATA    YR  MON  DAY  HR  WK
0        T1         B          NaN          15.0  20000542  1408039037        A         False  2014    8   14  10   3
1        T2         B          NaN          57.0  20000108  1408038611        A         False  2014    8   14  10   3
2        T3         B          NaN          15.0  20000370  1408038568        A         False  2014    8   14  10   3
3        T4         B          NaN          53.0  20000492  1408039090        A         False  2014    8   14  10   3
4        T5         B          NaN          18.0  20000621  1408039177        A         False  2014    8   14  10   3
5        T6         A      42612.0           NaN  20000607  1408037146        A         False  2014    8   14  10   3
6        T7         B          NaN          15.0  20000310  1408038846        A         False  2014    8   14  10   3
7        T8         A      31780.0           NaN  20000619  1408038948        A         False  2014    8   14  10   3
8        T9         B          NaN           9.0  20000503  1408038563        A         False  2014    8   14  10   3
9       T10         B          NaN          15.0  20000327  1408038021        A         False  2014    8   14  10   3
10      T11         B          NaN          56.0  20000664  1408038267        A         False  2014    8   14  10   3
11      T12         C          NaN           NaN  20000160  1408038946        A         False  2014    8   14  10   3
12      T13         C          NaN           NaN  20000017  1408039130        A         False  2014    8   14  10   3
13      T14         C          NaN           NaN  20000312  1408036255        A         False  2014    8   14  10   3
14      T15         C          NaN           NaN  20000497  1408038388        A         False  2014    8   14  10   3
15      T16         C          NaN           NaN  20000440  1408037740        A         False  2014    8   14  10   3
16      T17         C          NaN           NaN  20000467  1408038804        A         False  2014    8   14  10   3
17      T18         C          NaN           NaN  20000338  1408038215        A         False  2014    8   14  10   3
18      T19         B          NaN          15.0  20000101  1408038749        A         False  2014    8   14  10   3
19      T20         C          NaN           NaN  20000523  1408036754        A         False  2014    8   14  10   3
20      T21         B          NaN          15.0  20000460  1408039125        A         False  2014    8   14  10   3
21      T22         A      85698.0           NaN  20000199  1408039009        A         False  2014    8   14  10   3
22      T23         A      37007.0           NaN  20000480  1408038924        A         False  2014    8   14  10   3
23      T24         B          NaN          15.0  20000250  1408039145        A         False  2014    8   14  10   3
24      T25         B          NaN          12.0  20000903  1408039057        A         False  2014    8   14  10   3
25      T26         B          NaN          49.0  20000247  1408039029        A         False  2014    8   14  10   3
26      T27         B          NaN          15.0  20000263  1408038859        A         False  2014    8   14  10   3
27      T28         B          NaN          15.0  20000500  1408039165        A         False  2014    8   14  10   3
28      T29         B          NaN          21.0  20000617  1408038439        A         False  2014    8   14  10   3
29      T30         B          NaN          15.0  20000288  1408038605        A         False  2014    8   14  10   3
30      T31         B          NaN          15.0  20000268  1408038529        A         False  2014    8   14  10   3
31      T32         B          NaN          57.0  20000495  1408038808        A         False  2014    8   14  10   3
32      T33         C          NaN           NaN  20000328  1408038614        A         False  2014    8   14  10   3
33      T34         C          NaN           NaN  20000129  1408039193        A         False  2014    8   14  10   3
34      T35         C          NaN           NaN  20000434  1408038465        A         False  2014    8   14  10   3
35      T36         C          NaN           NaN  20000381  1408036826        A         False  2014    8   14  10   3
36      T37         A       2002.0           NaN  20000159  1408038095        A         False  2014    8   14  10   3
37      T38         B          NaN          60.0  20000048  1408038796        A         False  2014    8   14  10   3
38      T39         B          NaN          15.0  20000008  1408039102        A         False  2014    8   14  10   3
39      T40         B          NaN          34.0  20000285  1408038865        A         False  2014    8   14  10   3
40      T41         B          NaN          38.0  20000546  1408038486        A         False  2014    8   14  10   3
41      T42         C          NaN           NaN  20000353  1408039100        A         False  2014    8   14  10   3
42      T43         C          NaN           NaN  20000569  1408038600        A         False  2014    8   14  10   3
43      T44         B          NaN           9.0  20000384  1408038310        A         False  2014    8   14  10   3
44      T45         B          NaN          30.0  20000653  1408038968        A         False  2014    8   14  10   3
45      T46         B          NaN          61.0  20000540  1408039014        A         False  2014    8   14  10   3
46      T47         C          NaN           NaN  20000280  1408038735        A         False  2014    8   14  10   3
47      T48         C          NaN           NaN  20000177  1408038933        A         False  2014    8   14  10   3
48      T49         B          NaN          28.0  20000085  1408038625        A         False  2014    8   14  10   3
49      T50         B          NaN          56.0  20000022  1408038317        A         False  2014    8   14  10   3
50      T51         B          NaN          13.0  20000311  1408038249        A         False  2014    8   14  10   3
51      T52         B          NaN          10.0  20000294  1408038869        A         False  2014    8   14  10   3
52      T53         B          NaN          60.0  20000081  1408038925        A         False  2014    8   14  10   3
53      T54         B          NaN          15.0  20000561  1408038555        A         False  2014    8   14  10   3
54      T55         B          NaN          15.0  20000178  1408038627        A         False  2014    8   14  10   3
55      T56         B          NaN          14.0  20000255  1408038850        A         False  2014    8   14  10   3
56      T57         B          NaN           9.0  20000547  1408038404        A         False  2014    8   14  10   3
57      T58         B          NaN          35.0  20000603  1408038871        A         False  2014    8   14  10   3
58      T59         C          NaN           NaN  20000668  1408036076        A         False  2014    8   14  10   3
59      T60         A      32563.0           NaN  20000044  1408038636        A         False  2014    8   14  10   3
60      T61         B          NaN          15.0  20000041  1408038972        A         False  2014    8   14  10   3
61      T62         C          NaN           NaN  20000245  1408039050        A         False  2014    8   14  10   3
62      T63         C          NaN           NaN  20000649  1408038908        A         False  2014    8   14  10   3
63      T64         A       2002.0           NaN  20000662  1408038842        A         False  2014    8   14  10   3
64      T65         B          NaN           9.0  20000055  1408038861        A         False  2014    8   14  10   3
65      T66         B          NaN           9.0  20000595  1408038313        A         False  2014    8   14  10   3
66      T67         B          NaN          15.0  20000140  1408038813        A         False  2014    8   14  10   3
67      T68         A      62371.0           NaN  20000260  1408037585        A         False  2014    8   14  10   3
68      T69         C          NaN           NaN  20000576  1408038568        A         False  2014    8   14  10   3
69      T70         B          NaN          13.0  20000047  1408039080        A         False  2014    8   14  10   3
70      T71         C          NaN           NaN  20000010  1408032143        A         False  2014    8   14   9   3
71      T72         C          NaN           NaN  20000004  1408037529        A         False  2014    8   14  10   3
72      T73         B          NaN          15.0  20000334  1408039046        A         False  2014    8   14  10   3
73      T74         C          NaN           NaN  20000256  1408038045        A         False  2014    8   14  10   3
74      T75         B          NaN          47.0  20000349  1412064770        A         False  2014    9   30   1   1
75      T76         C          NaN           NaN  20000675  1412065616        A         False  2014    9   30   1   1
76      T77         B          NaN          23.0  20000010  1412065748        A         False  2014    9   30   1   1
77      T78         C          NaN           NaN  20000224  1412065216        A         False  2014    9   30   1   1
78      T79         C          NaN           NaN  20000901  1412065607        A         False  2014    9   30   1   1
79      T80         C          NaN           NaN  20000488  1412064425        A         False  2014    9   30   1   1
80      T81         A       4785.0           NaN  20000633  1412065294        A         False  2014    9   30   1   1
81      T82         B          NaN          59.0  20000617  1412065511        A         False  2014    9   30   1   1
82      T83         A       4785.0           NaN  20000188  1412065076        A         False  2014    9   30   1   1
83      T84         A      45085.0           NaN  20000436  1412064356        A         False  2014    9   30   1   1
84      T85         B          NaN           7.0  20000578  1412065383        A         False  2014    9   30   1   1
85      T86         A      36752.0           NaN  20000116  1412065159        A         False  2014    9   30   1   1
86      T87         C          NaN           NaN  20000477  1412065034        A         False  2014    9   30   1   1
87      T88         C          NaN           NaN  20000624  1412065239        A         False  2014    9   30   1   1
88      T90         B          NaN          16.0  20000572  1412064941        A         False  2014    9   30   1   1
89      T91         A      44696.0           NaN  20000249  1412065051        A         False  2014    9   30   1   1
90      T92         A       2002.0           NaN  20000612  1412064659        A         False  2014    9   30   1   1
91      T93         C          NaN           NaN  20000560  1412065077        A         False  2014    9   30   1   1
92      T94         C          NaN           NaN  20000372  1412065151        A         False  2014    9   30   1   1
93      T95         A       2002.0           NaN  20000071  1412065352        A         False  2014    9   30   1   1
94      T96         B          NaN          60.0  20000688  1412062316        A         False  2014    9   30   0   1
95      T98         C          NaN           NaN  20000904  1412063625        A         False  2014    9   30   0   1
96      T99         A      34007.0           NaN  20000060  1412064343        A         False  2014    9   30   1   1
97     T100         A      85224.0           NaN  20000434  1412064778        A         False  2014    9   30   1   1
98     T101         A      53493.0           NaN  20000112  1412065446        A         False  2014    9   30   1   1
99     T102         C          NaN           NaN  20000286  1412064908        A         False  2014    9   30   1   1
100    T103         B          NaN           7.0  20000036  1412064784        A         False  2014    9   30   1   1
101    T104         B          NaN          33.0  20000086  1412064987        A         False  2014    9   30   1   1
102    T107         C          NaN           NaN  20000574  1412065118        A         False  2014    9   30   1   1
103    T109         B          NaN          57.0  20000331  1412065419        A         False  2014    9   30   1   1
104    T110         B          NaN          57.0  20000026  1412065469        A         False  2014    9   30   1   1
105    T111         A       3048.0           NaN  20000518  1412065567        A         False  2014    9   30   1   1
106    T112         B          NaN          25.0  20000541  1412065366        A         False  2014    9   30   1   1
107    T113         B          NaN          11.0  20000400  1412064094        A         False  2014    9   30   1   1
108    T114         B          NaN          33.0  20000682  1412065648        A         False  2014    9   30   1   1
109    T115         A       2002.0           NaN  20000039  1412065352        A         False  2014    9   30   1   1
110    T116         A      34944.0           NaN  20000597  1412065329        A         False  2014    9   30   1   1
111    T117         A       2002.0           NaN  20000230  1412065271        A         False  2014    9   30   1   1
112    T118         B          NaN          42.0  20000206  1412065507        A         False  2014    9   30   1   1
113    T119         A       2024.0           NaN  20000126  1412065389        A         False  2014    9   30   1   1
114    T120         A      42046.0           NaN  20000296  1412065379        A         False  2014    9   30   1   1
115    T121         C          NaN           NaN  20000049  1412065454        A         False  2014    9   30   1   1
116    T122         B          NaN          35.0  20000383  1412064713        A         False  2014    9   30   1   1
117    T123         B          NaN           6.0  20000156  1412063197        A         False  2014    9   30   0   1
118    T124         C          NaN           NaN  20000198  1412064991        A         False  2014    9   30   1   1
119    T125         B          NaN          36.0  20000596  1412065635        A         False  2014    9   30   1   1
120    T126         A      86098.0           NaN  20000248  1412065266        A         False  2014    9   30   1   1
121    T127         A      27031.0           NaN  20000591  1412065621        A         False  2014    9   30   1   1
122    T128         A      35304.0           NaN  20000260  1412065784        A         False  2014    9   30   1   1
123    T129         A      86436.0           NaN  20000005  1412065476        A         False  2014    9   30   1   1
124    T130         B          NaN          57.0  20000686  1412064808        A         False  2014    9   30   1   1
125    T131         C          NaN           NaN  20000384  1412059472        A         False  2014    9   29  23   0
126    T132         C          NaN           NaN  20000272  1412065252        A         False  2014    9   30   1   1
127    T133         A       4391.0           NaN  20000314  1412065285        A         False  2014    9   30   1   1
128    T134         C          NaN           NaN  20000625  1412064883        A         False  2014    9   30   1   1
129    T135         B          NaN          57.0  20000589  1412065261        A         False  2014    9   30   1   1
130    T136         B          NaN          57.0  20000476  1412065555        A         False  2014    9   30   1   1
131    T137         B          NaN          47.0  20000523  1412065013        A         False  2014    9   30   1   1
132    T138         C          NaN           NaN  20000503  1412060523        A         False  2014    9   30   0   1
133    T139         C          NaN           NaN  20000473  1412065618        A         False  2014    9   30   1   1
134    T140         C          NaN           NaN  20000092  1412065590        A         False  2014    9   30   1   1
135    T141         C          NaN           NaN  20000085  1412065117        A         False  2014    9   30   1   1
136    T142         B          NaN          15.0  20000159  1412065155        A         False  2014    9   30   1   1
137    T143         B          NaN          35.0  20000410  1412065092        A         False  2014    9   30   1   1
138    T144         A      13297.0           NaN  20000123  1412065220        A         False  2014    9   30   1   1
139    T145         A       5549.0           NaN  20000040  1412065112        A         False  2014    9   30   1   1
140    T146         C          NaN           NaN  20000502  1412065394        A         False  2014    9   30   1   1
141    T147         B          NaN          57.0  20000144  1412065486        A         False  2014    9   30   1   1
142    T148         A      19845.0           NaN  20000053  1412064430        A         False  2014    9   30   1   1
143    T149         B          NaN          15.0  20000510  1412063454        A         False  2014    9   30   0   1
144    T151         A      10363.0           NaN  20000171  1412065395        A         False  2014    9   30   1   1
145    T152         A      74478.0           NaN  20000207  1412065494        A         False  2014    9   30   1   1
146    T153         B          NaN          16.0  20000099  1412065555        A         False  2014    9   30   1   1
147    T154         C          NaN           NaN  20000440  1412064845        A         False  2014    9   30   1   1
148    T155         B          NaN          33.0  20000158  1412065195        A         False  2014    9   30   1   1
149    T156         B          NaN           3.0  20000543  1412064580        A         False  2014    9   30   1   1
150    T157         A      81753.0           NaN  20000017  1412065619        A         False  2014    9   30   1   1
151    T158         A       2002.0           NaN  20000698  1412617360        A         False  2014   10    6  10   0
152    T159         C          NaN           NaN  20000391  1412617161        A         False  2014   10    6  10   0
153    T160         A      15427.0           NaN  20000657  1412617328        A         False  2014   10    6  10   0
154    T161         C          NaN           NaN  20000429  1412616773        A         False  2014   10    6  10   0
155    T162         B          NaN          17.0  20000249  1412617225        A         False  2014   10    6  10   0
156    T163         B          NaN          25.0  20000171  1412617178        A         False  2014   10    6  10   0
157    T164         A      41519.0           NaN  20000410  1412617430        A         False  2014   10    6  10   0
158    T166         B          NaN          57.0  20000407  1412616796        A         False  2014   10    6  10   0
159    T167         B          NaN          15.0  20000109  1412617121        A         False  2014   10    6  10   0
160    T168         A       2002.0           NaN  20000180  1412617017        A         False  2014   10    6  10   0
161    T169         C          NaN           NaN  20000649  1412616811        A         False  2014   10    6  10   0
162    T170         A      67507.0           NaN  20000128  1412617130        A         False  2014   10    6  10   0
163    T171         B          NaN          35.0  20000685  1412616790        A         False  2014   10    6  10   0
164    T172         A      65127.0           NaN  20000054  1412617212        A         False  2014   10    6  10   0
165    T173         B          NaN          60.0  20000118  1412616610        A         False  2014   10    6  10   0
166    T174         C          NaN           NaN  20000624  1412611978        A         False  2014   10    6   9   0
167    T175         A      49729.0           NaN  20000453  1412617220        A         False  2014   10    6  10   0

In [109]:
data.shape

(1710660, 15)

In [111]:
filtered = data[data["YR"] == 2014]

In [112]:
filtered.shape

(847980, 15)

In [ ]:

# Assuming you have a DataFrame called 'df' with the columns ["YR", "MON", "DAY", "HR", "WK"]

# Define a list of holiday dates
holidays = [
    {"MON": 1, "DAY": 1},  # New Year's Day
    {"MON": 1, "DAY": 20},  # Independence Day
    {"MON": 2, "DAY": 17},
    {"MON": 5, "DAY": 26},
    {"MON": 7, "DAY": 4},
    {"MON": 9, "DAY": 1},
    {"MON": 10, "DAY": 13},
    {"MON": 11, "DAY": 11},
    {"MON": 11, "DAY": 27},
    {"MON": 12, "DAY": 25},
]

In [89]:
#Dataset starts month 6/2013
#monhts missing from 2014: 7 -> 12
#test set months: 8, 9, 10, 12
data.loc[(data['MON']== 12) & (data['YR'] == 2014)]

Empty DataFrame
Columns: [TRIP_ID, CALL_TYPE, ORIGIN_CALL, ORIGIN_STAND, TAXI_ID, TIMESTAMP, DAY_TYPE, MISSING_DATA, POLYLINE, LEN, YR, MON, DAY, HR, WK]
Index: []

In [ ]:
data.loc[((data['MON']== 7) | (data['MON']== 8) | (data['MON']== 9) | (data['MON']== 10) | (data['MON']== 11) | (data['MON']== 12)) & (data['YR'] == 2013)]

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,LEN,YR,MON,DAY,HR,WK
443,1372662532620000051,2,NaN,34.0,20000051,1372662532,1,False,"[[-8.615601,41.140692],[-8.615349,41.140854],[...",585,2013,7,1,0,0
450,1372662153620000351,3,NaN,-1.0,20000351,1372662153,1,False,"[[-8.670015,41.236965],[-8.669727,41.235633],[...",915,2013,7,1,0,0
454,1372663182620000247,1,61064.0,-1.0,20000247,1372663182,1,False,"[[-8.593767,41.157639],[-8.594208,41.156982],[...",585,2013,7,1,0,0
464,1372662071620000662,3,NaN,-1.0,20000662,1372662071,1,False,"[[-8.641611,41.156559],[-8.641431,41.156541],[...",315,2013,7,1,0,0
465,1372662631620000621,1,46490.0,-1.0,20000621,1372662631,1,False,"[[-8.611902,41.159079],[-8.611911,41.159061],[...",570,2013,7,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710624,1373653545620000940,1,2002.0,-1.0,20000940,1373653545,1,False,"[[-8.628561,41.158998]]",0,2013,7,12,11,4
1710643,1386603894620000970,3,NaN,-1.0,20000970,1386603894,1,False,[],0,2013,12,9,7,0
1710657,1380123541620000980,3,NaN,-1.0,20000980,1380123541,1,False,"[[-8.689959,41.240241]]",0,2013,9,25,8,2
1710658,1373986578620000931,1,2002.0,-1.0,20000931,1373986578,1,False,[],0,2013,7,16,7,1
1710660,1384165182620000170,3,NaN,-1.0,20000170,1384165182,1,False,"[[-8.643303,41.13648]]",0,2013,11,11,2,0

In [115]:
data.loc[((data['MON']== 12)) & (data['YR'] == 2013)]

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,LEN,YR,MON,DAY,HR,WK
714397,1385885185620000367,2,NaN,57.0,20000367,1385885185,1,False,"[[-8.61093,41.145786],[-8.610921,41.145795],[-...",300,2013,12,1,0,6
714398,1385885042620000305,2,NaN,57.0,20000305,1385885042,1,False,"[[-8.610759,41.145687],[-8.610759,41.14593],[-...",360,2013,12,1,0,6
714403,1385885225620000545,2,NaN,57.0,20000545,1385885225,1,False,"[[-8.610705,41.145561],[-8.610732,41.145552],[...",375,2013,12,1,0,6
714409,1385884964620000263,3,NaN,-1.0,20000263,1385884964,1,False,"[[-8.613567,41.146947],[-8.613558,41.146776],[...",540,2013,12,1,0,6
714411,1385885168620000148,2,NaN,36.0,20000148,1385885168,1,False,"[[-8.649486,41.154183],[-8.649612,41.15421],[-...",405,2013,12,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957860,1388419156620000969,3,NaN,-1.0,20000969,1388419156,1,False,"[[-8.64486,41.159088]]",0,2013,12,30,7,0
978668,1387585767620000344,2,NaN,10.0,20000344,1387585767,1,False,"[[-8.606952,41.150196],[-8.607006,41.150205],[...",1155,2013,12,20,16,4
1012755,1387213521620000521,2,NaN,17.0,20000521,1387213521,1,False,"[[-8.632287,41.164443],[-8.632746,41.164083],[...",960,2013,12,16,9,0
1179938,1387437315620000185,3,NaN,-1.0,20000185,1387437315,1,False,"[[-8.585622,41.127597],[-8.58456,41.127984],[-...",1560,2013,12,18,23,2
1710643,1386603894620000970,3,NaN,-1.0,20000970,1386603894,1,False,[],0,2013,12,9,7,0